<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privat Room</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>
</head>
<body>
    <div class="chat-messages"></div>
    <div id="space"></div>

    <input type="text" id="msgInput">
    <button onclick="sendMessage()">Send</button>

    <script src="../js/private.js"></script>
</body>
</html>